*{
  margin: 0;
}
body{

  background-image: url('imagenes/fondo-01.png');
}
.logo{
    text-align: right;
}

.video{
  margin-top: -1%;
  text-align: center;
}

.personajes{
  display: none;
}

.btnInicio{
  margin-top: 2%;
  text-align: center;
}

.content{
  display: none;
  text-align: center;
  margin-top: -7%;
}
.img{
  margin-left: 32%;

}
.frases{

margin-left: 20%;
padding-right:  20%;

}
